<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <br>
        <div class="flex-card">
        <h2>Perguntas</h2>

        <a href="/perguntar" ><button class="btn btn-primary">Perguntar</button></a>
         </div>
        <hr>
        

        <% perguntas.forEach( pergunta =>{ %>
            <br>
            <div class="card">
            <div class="card-body flex-card">
                <h3><%= pergunta.titulo %></h3>
                <a href="/pergunta/<%= pergunta.id %>" class="btn btn-primary">Responder</a>
            </div>
    
            
            </div>
        <% }); %>
    </div>
    
    
    <%- include('partials/footer.ejs') %>
</body>
</html>