<%- include('partials/header.ejs'); %>

<body>
    <%- include('partials/homenavbar.ejs'); %>
    <div class="container">
        <br><br>
        <h1>Artigos sobre: <span><%= category.title %></span></h1>

        <% articles.forEach((article)=>{ %>
            <br>
            <a href="/<%= article.slug %>" style="text-decoration: none;" class=""><div class="card">
                <div class="card-header">
                
                    <h3><%= article.title %></h3>
                    <p><%= category.title %></p>
                
                </div>
            </div></a>
        <% }) %>

    </div>
</body>

<%- include('partials/footer.ejs'); %>