<%- include('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs')     %>
    
    <div class="container">
        <br><br>
        <div class="card">
            <div class="card-header">
            <h2>Editar artigo</h2>
            </div>

            <div class="card-body">
                <form action="/articles/update" method="post">
                    <input type="text" name="title" class="form-control" placeholder="Defina o título do artigo" value="<%= article.title %>"><br>
                    <textarea id="article" name="body" class="form-control" value="" placeholder="Escreva seu artigo aqui!" rows="10" ><%= article.body %></textarea>
                    <br>
                    <input type="hidden" value="<%= article.id %>" name="id">
                    <label for="">Categoria</label>
                    <select name="category" class="form-control" id="">
                        <% categories.forEach((category)=>{ %>
                            <% if(category.id === article.categoryId){ %>
                                <option value="<%= category.id %>" selected><%= category.title %></option>
                            <% }else{ %>
                                <option value="<%= category.id %>"><%= category.title %></option>
                            <% } %>
                        <% }) %>
   
                    </select>
                    <br>
                    <button class="btn btn-success">Salvar</button>
                </form> 
            </div>

        </div>        
    </div>
    <script src="/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            language: 'pt_BR',
            selector: '#article',
            plugins: [
                'advlist','autolink', 'link', 'image', 'lists', 'preview', 'pagebreak', 'searchreplace', 'wordcount', 'fullscreen', 'insertdatetime', 'media', 'save', 'table', 'emoticons'
            ]
        })

    </script>
    <%- include('../../partials/footer.ejs') %>
</body>


